# general
.DS_Store
*.zip
*.tar.gz
*.exe
*.bz2
.hg/
 
# backup
*~
*.bak
 
# gnu global
GPATH
GRTAGS
GSYMS
GTAGS
 
# c/c++/objc
a.out
*.o
*.a
 
# python
*.pyc
*.egg-info
*.mo
bulkloader-log-*
 
# xcode
*.pbxuser
 
# action script
*.swf
 
# java
#*.class
#*.jar

 
# yacc/lex
lex.yy.c
*.tab.c
*.tab.h

#make/configure
Makefile
config.log
config.status

#for this project 
copy.sh
local-copy.sh
start.sh
build
MEMO
auto_master
unsetup_autofs
.build.xml.swp
